h1{
    font-style:italic ;
    text-align: center;
    font-size:large;
    color: crimson;
}
p{
    font-style: normal;
    color:black;


}
p1{
    color: black;
}
.navigation{
    border: solid 1px;
    width: 98vw; 
    background-color:aquamarine;
    border-radius: 5px;
    position: fixed;
    top: 0%;left: 0%;
    display:flex; 
    height: 50px;
    justify-content:space-evenly;
    align-items: flex-end;
}
li{
    color: red;
    align-items: center;
}
button{
    color: red;
}
img{
    width: 150px; height: 150px;
}
.header{
    margin margin-top: 100px;
}
.fooditem{
    border: 1px solid blueviolet;
    width: 300px;
    padding: 20px;
    height: 150px;
    background-color: bisque;
    border-radius: 7px;
    text-align: center;
}
img{ 
    width: 200px;
    height: 120px;
}
.foodlist{
    display: flex;
    gap: 40px;
 flex-wrap: wrap;
 border: 10px;
}
.footer{
    border: 20px
    justify-content: space-around;
    margin-top: 10px;
    background-color: aquamarine;
    align-items: center;
    display: flex;
    height: 100px;

}
.d1{
    border: 1px;
    width: 370px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    
}